<section class="create-form-container">
    <div id="form-display">
        <form "form create-post"> 
            <div class="form-group">
                <label for="post-title">Title</label>
                <input class="form-input" type="text" id="post-title" name="project-name" />
                <label for="post-content">Content</label>
                <textarea class="form-input" id="post-content"></textarea>
                <button class="btn btn-primary create-post-btn" type="submit">Create</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/newpost.js"></script>