<div  class="create-form-container">
    <div id="form-display">
        <form "form create-post"> 
            <div class="form-group">
                <label for="post-title">Title</label>
                <textarea class="form-input" id="post-title">{{title}}</textarea>
                <label for="post-content">Content</label>
                <textarea class="form-input" id="post-content">{{body}}</textarea>
                <button class="btn btn-primary" id="update-post-btn" type="submit">Update</button>
                <button class="btn btn-primary" id="delete-post-btn" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/post.js"></script>